---
interface Props {
  title: string;
  accentText?: string;
  description?: string;
  alignment?: "start" | "center" | "end";
  titleSize?: "normal" | "large" | "hero";
  titleColor?: string;
  accentColor?: string;
  descriptionColor?: string;
}

const {
  title,
  accentText,
  description,
  alignment = "start",
  titleSize = "normal",
  titleColor = "",
  accentColor = "text-primary",
  descriptionColor = ""
} = Astro.props;

// Determina le classi di allineamento
const alignmentClasses = {
  start: "text-start",
  center: "text-center",
  end: "text-end"
};

// Determina le classi per la dimensione del titolo
const titleClasses = {
  normal: "text-5xl md:text-7xl",
  large: "text-7xl md:text-9xl",
  hero: "text-5xl md:text-[12rem]"
};
---

<div class={`w-full ${alignmentClasses[alignment]} `}>
  <h1
    class={`${titleClasses[titleSize]} font-bold mb-6 ${titleColor} select-none`}
  >
    <span class="block">{title}</span>
    {accentText && <span class={`block ${accentColor}`}>{accentText}</span>}
  </h1>
  {
    description && (
      <p class={`text-xl mb-6 ${descriptionColor} select-none`}>
        {description}
      </p>
    )
  }
  <slot />
</div>
